<div class="container-fluid container-home">
  <%= render partial: 'header' %>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <%= image_tag @picture.images[:standard_resolution][:url], class: "img-responsive" %>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3><%= @picture.caption[:text] %></h3>
          <hr />
          <h4>Liked by:</h4>
          <p><%= @picture.likes[:count] %> users</p>
          <h4>Sandbox Likes From: </h4>
          <% @likes.each do |like| %>
            <p class="comment_name"><%= like.username %></p>
          <% end %>
          <h4>Sandbox comments:</h4>
          <% @comments.each do |comment| %>
            <p><span class="comment_name"><%= comment.from[:username] %></span> <%= comment.text %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
